* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$start-wind: 960px;
$new-wind: 100%;

@mixin fl-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  margin: 0 auto;
  width: $start-wind;
  height: 100px;
  border: 1px solid black;
  @include fl-inner;
}

@media (max-width: 768px) {
  #container {
    margin: 0 auto;
    width: $new-wind;
    height: 100px;
    border: 1px solid black;
    @include fl-inner;
  }
}

@mixin button-styles {
  background-color: teal;
  color: white;
}

.button {
  @include button-styles;
  display: flex;
  justify-self: center;
  padding: 5px;
  border-radius: 8px;
}
