*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame{
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    margin: 50px auto;
}
.cards{
    height: 100%;
    position: relative;
    transition: left 0.5s ease;
    left:0;
    display: flex;

}
.card{
    width: 500px;
    height: 100%;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}
.rounds{
    position:absolute;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.rounds button {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.rounds button.active{

    background-color: orangered;
}
.triggers{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
   
}
.triggers button {
    pointer-events: auto;
    color:white;
    height: 100%;
    width: 50px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.triggers button:hover {
    
    background-color: rgba(0,0,0,0.5);
   
}
