*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#register{gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    background-color:  teal;
width: 300px;
    height: 600px;
    padding: 30px;
    border-radius: 8px;

}

#register div {
color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    
}
#register div input {
    font-size: 14px;
    height: 20px;
    border-radius: 8px;
}
#register button{
    width: 80px;
    height: 40px;
    border-radius: 8px;
}