* {
  padding: 0;
  margin: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.title1 {
  font-size: 24px;
  height: 44px;
  padding: 7.5px 898px 7.5px 8px;
  color: white;
  background-color: rgba(61, 61, 61, 1);
}

div {
  background-color: rgba(0, 255, 255, 1);
  margin: 16px 8px 16px 8px;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
}
.name {
  padding: 0 0 0 10px;
}

.p1 {
  padding: 0 0 0 10px;
}

.body {
  width: 1162px;
  height: 762px;

  background-color: rgba(173, 216, 230, 1);
}
.h3 {
  padding: 0 0 0 10px;
}

/* .first{ height: 119px;

} */
