* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.general {
  display: flex;
  background-color: rgb(84, 109, 84);
  width: 1000px;
  height: 800px;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: rgb(167, 211, 190);
  width: 300px;
  height: 250px;
  border-radius: 8px;
}
.title {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
input {
  border-radius: 8px;
}
.login {
  padding: 15px;
  width: 260px;
  height: 50px;
}
.password {
  padding: 15px;
  width: 260px;
  height: 50px;
}
.button1 {
  height: 40px;
  width: 125px;
}
.button2 {
  height: 40px;
  width: 125px;
  background-color: rgb(230, 137, 137);
}
.rows {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 5px 20px;

  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 20px;
}
.checkbox {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
