
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{ background-color: grey;
    width: 300px;
    margin-left: 15px;
    font-size: 15px;
    color: antiquewhite;
    
}
li{ margin: 15px 15px;
    padding: 10px;
    width: 100px;
    color: grey;
}
.Frutis{
    background-color: aqua;
}
.orange{background-color: orange;
    
}
.banana{
    background-color: yellow;
}
.avocado{
    background-color: green;

}
.apple{
    background-color: greenyellow;
}
.pineapple{
    background-color: rgb(185, 185, 55);
}