*{margin: 0;
padding: 0;
box-sizing: border-box;}

.block {background-color: blue;
width: 200px;
height: 200px;
margin: 0 auto;
margin-top: 20px;
}

#colorBlock{
width: 200px;
height: 200px;
margin: 0 auto;
margin-top: 260px;
}

#colorButton{
    display: block;
width: 100px;
height: 60px;
margin: 0 auto;
margin-top: 20px;}