*{margin: 0;
padding: 0;
box-sizing: border-box;}

form{
    margin: 0 auto;
}
.inputs{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    border-radius: 16px;;
    margin: 0 auto;
background:  teal;
display: flex;
flex-direction: column;
gap: 30px;
}

.massange{
    height: 40px;
    width: 200px;
}