*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    background: lightsalmon;
    row-gap: 25px
    ;
}
div{
    padding: 10px;
    width: 200px;
    height: 200px;
    background: teal;
 

}