*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background-color: teal;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
#btn{
    width: 80px;
    height: 40px;
    border-radius: 8px;
}
#block{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}