*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin fl-inner{
display: flex;
justify-content: center;
align-items: center;
}

$primary-color : #FF0000;

.heading{
   color: $primary-color;
   margin: 40px auto;
   width: 200px;
   height: 200px;
   border: 1px solid teal;
   border-radius: 10px;
   @include fl-inner
}